body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #fff; /* Choose your background color */
    color: #1a6985; /* Choose your text color */

 display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    height: 150px; /* Adjust the header height as needed */
}
.logo img {
    width: 90px; /* Adjust the width as needed */
    height: auto; /* This ensures the image aspect ratio is maintained */
}

.college-name h1 {
    font-size: 24px; /* Adjust the font size as needed */
    padding-top: 10px;
    padding-left: 9px;
       font-weight: bold;
}
.college-name h3 {
    font-size: 16px; /* Adjust the font size as needed */
    padding-bottom: 10px;
    padding-left: 9px;

}

.mainnavbar {
           background-color: #165a72;
       }

       .mainnavbar .navbar-nav .nav-link {
           color: white;
       }


       .carousel-item{
          height:500px;

        }

        .marquessdiv {
            padding: 15px 0px 0px 10px;
            background-color: #d3eaf2;
            font-size: 15px;
    }



    #courses{
      padding: 40px 100px;
    }

    .price-card{
      margin : 4% 2%;
      padding-left: 3%;
    }

    .coursesicon{
      font-size:10px;
      padding-bottom: 9px;
    }

.skills{
  background-color: #bee0ec;
  padding: 1% 1% 1% 0.3%;
}
    .skill-row{
      width: 70%;
      margin: 25px auto 60px;
      text-align: left;
      padding: 0 0 0 10px;
    }

    .codes{
      width: 125px;
      float: left;
      margin-right: 30px;
      fon
    }
    .chillies{
      width: 125px;
      float: right;
      margin-left: 30px;

    }
    .aboutdesc{
      font-size: 14px;
    }

#contatcs{
  padding-top: : 20px;
  background-color:  #d3eaf2;
}

#aboutus {
  color: #1a6985;
}
h3{
  color: #1a6985;

}
/* Responsive styles */
@media (max-width: 600px) {
    .logo img {
        width: 80px; /* Adjust the width for smaller screens */
        margin-left: 10px;
    }

    .college-name h1 {
        font-size: 20px; /* Adjust the font size for smaller screens */
        font-weight: bold;
        padding-top: 10px;
        padding-left: 5px;
    }
    .college-name h3 {
        font-size: 14px; /* Adjust the font size for smaller screens */
        padding-left: 5px;
        padding-bottom:  10px;

    }

    .codes{
      width: 90px;
      float: left;
      margin-right: 30px;

    }
    .chillies{
      width: 90px;
      float: right;
      margin-left: 30px;

}
}
